body, html {
	margin: 0;
	background-color: black;
	color: lightgreen;
	font-family: monospace;
}


div#title {
	position: fixed;
	top: 0px;
	width: 100%;
	text-align: center;
	padding: 15px;
	font-size: 1.2em;
}

div#pattern-visualizer {
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
}

div.note {
	display: inline-block;
	height: 7.5px;
	width: 30px;
	margin: 2px;
	background-color: lightgreen;
	color: black;
	border-radius: 5px;
	box-shadow: 0 0 5px 2px lightgreen;
	opacity: 0.25;
	transition: all 0.3s;
	cursor: pointer;
}

div.note.dragging {
	opacity: 0.35;
	transition: all 0.05s;
}


div.note.active {
	opacity: 1;
}

div.note.transparent {
	opacity: 0;
}
div.button {
	display: inline-block;
	border: lightgreen 1px solid;
	border-radius: 3px;
	padding: 5px;
	cursor: pointer;
}

div.button.depressed {
	background-color: lightgreen;
	color: black;
}

div#bottom-bar {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

div#note {
	position: absolute;
	bottom: 0;
	left: 10px;
}

div#time {
	position: absolute;
	bottom: 0;
	right: 10px;
	text-align: right;
}